@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Sriracha&display=swap');
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
	font-family: "Sriracha", cursive;
	font-size: 18px;
	background-color: #DE7C7D;
}
h1, h2, h3{
	 font-family: "Knewave", serif;
	 font-weight: bold;
}
h2,h3{
	color: #AF1740;
}
a{
	text-decoration: none;
}